{{!-- Notifications --}}

<li class="notifications new">
  <a href="" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <sup>
      <span class="counter"></span>
    </sup>
  </a>

  <div class="dropdown-menu notifications-dropdown-menu">




  </div>
</li>
