<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-menu">

				<li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
					<a href="index.html">
						<i class="fa fa-home"></i> Dashboard
					</a>
				</li>


				<li {{#is pagename "in" "items-list,item-editor"}}class="active open"{{/is}} >

					<a href="">
						<i class="fa fa-th-large"></i> Items Manager
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "items-list"}}class="active"{{/is}} >
							<a href="items-list.html">
								Items List
							</a>
						</li>

						<li {{#is pagename "===" "item-editor"}}class="active"{{/is}} >
							<a href="item-editor.html">
								Item Editor
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-area-chart"></i> Charts
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "charts-flot"}}class="active"{{/is}} >
							<a href="charts-flot.html">
								Flot Charts
							</a>
						</li>

						<li {{#is pagename "===" "charts-morris"}}class="active"{{/is}} >
							<a href="charts-morris.html">
								Morris Charts
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "static-tables,responsive-tables"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-table"></i> Tables
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "static-tables"}}class="active"{{/is}} >
							<a href="static-tables.html">
								Static Tables
							</a>
						</li>

						<li {{#is pagename "===" "responsive-tables"}}class="active"{{/is}} >
							<a href="responsive-tables.html">
								Responsive Tables
							</a>
						</li>

					</ul>
				</li>

				<li {{#is pagename "===" "forms"}}class="active"{{/is}} >
					<a href="forms.html">
						<i class="fa fa-pencil-square-o"></i> Forms
					</a>
				</li>

				<li {{#is pagename "in" "login,signup,reset,error-404,error-500"}}
						class="active open"
					{{/is}} >

					<a href="">
						<i class="fa fa-file-text-o"></i> Pages
						<i class="fa arrow"></i>
					</a>

					<ul class="sidebar-nav">
						<li {{#is pagename "===" "login"}}class="active"{{/is}}>
							<a href="login.html">
								Login
							</a>
						</li>

						<li {{#is pagename "===" "signup"}}class="active"{{/is}}>
							<a href="signup.html">
								Sign Up
							</a>
						</li>

						<li {{#is pagename "===" "reset"}}class="active"{{/is}}>
							<a href="reset.html">
								Reset
							</a>
						</li>

						<li {{#is pagename "===" "error-404"}}class="active"{{/is}}>
							<a href="error-404.html">
								Error 404 App
							</a>
						</li>

						<li {{#is pagename "===" "error-404-alt"}}class="active"{{/is}}>
							<a href="error-404-alt.html">
								Error 404 Global
							</a>
						</li>

						<li {{#is pagename "===" "error-500"}}class="active"{{/is}}>
							<a href="error-500.html">
								Error 500 App
							</a>
						</li>

						<li {{#is pagename "===" "error-500-alt"}}class="active"{{/is}}>
							<a href="error-500-alt.html">
								Error 500 Global
							</a>
						</li>
					</ul>
				</li>

			</ul>
		</nav>

	</div>

	{{> app/_common/sidebar/customize/customize}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
